# UDEMY PROJECT

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.io as pio
from ydata_profiling import ProfileReport

ModuleNotFoundError: No module named 'ydata_profiling'

In [ ]:
df = pd.read_csv('udemy_courses-raw.csv')

In [ ]:
df.head(2)

In [ ]:
df.sample(2)

In [ ]:
df.info()

In [ ]:
df.describe()

## Data Processing

Categorical_Data

In [ ]:
df['subject'].value_counts()

In [ ]:
df['level'].value_counts()

In [ ]:
df['is_paid'].value_counts()

Parsing timestamp

In [ ]:
df['published_timestamp']

Method helps to convert string Date time into Python Date time object.

In [ ]:
pd.to_datetime(df['published_timestamp'])

In [ ]:
df.dtypes

to save the new parsed value

In [ ]:
df['published_timestamp'] = pd.to_datetime(df['published_timestamp'])

In [ ]:
df.dtypes

Creating 3 new time columns for future use..

In [ ]:
df['Year'] = df['published_timestamp'].dt.year

In [ ]:
df['Month'] = df['published_timestamp'].dt.month_name()

In [ ]:
df['Day'] = df['published_timestamp'].dt.day_name()

In [ ]:
df['Quarter'] = df['published_timestamp'].dt.quarter

To view the added columns...

In [ ]:
df.sample()

We will be setting the Index with respect to timestamp for better DATA_VISUALIZATION

In [ ]:
df.set_index(df['published_timestamp'], inplace = True)

In [ ]:
df.sample()

We will add a new column 'Profit'

In [ ]:
df['Profit'] = df['price'] * df['num_subscribers']

In [ ]:
df.sample()

Checking for the Duplicated values in the UNIQUE Course ID

In [ ]:
df['course_id'].nunique()

By comparing 3672 and the total values found in the data_set (3678) we will find 6 Duplicated Course_id,
So the next step is detecting the duplicated values

In [ ]:
df[df.duplicated()]

To drop the duplicated values

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.duplicated().sum()

Categorization for numerical data, Since the content 'Duration' is in numeric values we can categorize it for future benfits in the project Dashboard.

In [ ]:
df['content_duration'].value_counts()

In [ ]:
df['Duration'] = pd.qcut(df['content_duration'], 6, labels = ['0:1', '1:3','3:7','7:12', '12:20', '20+'])

In [ ]:
df.sample()

In [ ]:
df.rename(columns = {'Duration':'Duration_category'}, inplace = True)

In [ ]:
df.sample()

In [ ]:
df['Duration_category'].value_counts()

Categorization for numerical data, Since the 'price' is in numeric values we can categorize it for future benfits in the project Dashboard.

In [ ]:
df['price'].value_counts()

In [ ]:
price_dict = {
    0: "Free",
    range (20, 55, 5):'20:50',
    range (55, 105, 5): '55:100',
    range (105, 155, 5): '105:150',
    range (155, 205, 5): '155:200'
}

In [ ]:
df['Price_Category'] = df['price'].replace(price_dict)

In [ ]:
df.sample()

## Eploratory Data Analysis (EDA)

- Univariate Analysis
- BI-Variate Analysis
- Multi-Variate Analysis

## EDA for feature "Subject"

### 1) Uni-variate Analysis

In [ ]:
df['subject']

#### A. Feature overview

In [ ]:
df['subject'].describe()

In [ ]:
df['subject'].count()

In [ ]:
df['subject'].nunique()

#### B. How many courses in each subject?

In [ ]:
df['subject'].value_counts()

In [ ]:
df['subject'].value_counts().plot(kind='bar')

In [ ]:
df['subject'].value_counts().plot(kind='pie')

### 2) Bi-Variate Analysis

#### A. How Many subscribers in each subject?

In [ ]:
df.groupby('subject').sum()['num_subscribers']

In [ ]:
pip install nbformat==5.1.2

##### VISUALIZATION Using Plotly

In [ ]:
fig = px.bar(data_frame = df,
       x = df.groupby('subject').sum()['num_subscribers'].index,
       y = df.groupby('subject').sum()['num_subscribers'].values)
fig.update_xaxes(title = 'Subject')
fig.update_yaxes(title = '# Subscribers')
fig.show()

#### B. Profit per each subject?

In [ ]:
dict(df.groupby('subject').sum()['Profit'])

##### VISUALIZATION using Seaborn.

In [ ]:
plt.figure(figsize =(15,8))
plt.xticks(rotation = 45)
sns.barplot(data = df,
           x = df.groupby('subject').sum()['Profit'].index,
           y = df.groupby('subject').sum()['Profit'].values,
           palette = 'plasma')

#### B. How many paid an non-paid in each subject?

In [ ]:
df.groupby('subject').sum()['is_paid']

In [ ]:
#unpaid courses
df[df['is_paid'] == False]['subject'].value_counts().plot(kind = 'bar')

In [ ]:
#Paid courses
df[df['is_paid'] == True]['subject'].value_counts().plot(kind = 'bar')

### 3) Multi-variate Analysis (subject)

#### A. How many courses in each subject according to is_paid?

#### using Plotly

In [ ]:
fig = px.bar(data_frame = df,
       x = df['subject'],
     color = df['is_paid'])
fig.update_xaxes(title = 'Subject')
fig.update_yaxes(title = '# Courses')
fig.show()

#### B. How many courses in each subject according to Price_category?

#### using Seaborn

In [ ]:
plt.figure(figsize = (18,5))
plt.xticks(rotation = 45)
sns.countplot(data = df, x = df['subject'], hue = df['Price_Category'])

#### C. How many courses in each subject according to Price_category?

#### using Seaborn

In [ ]:
plt.figure(figsize = (18,5))
plt.xticks(rotation = 45)
sns.countplot(data = df, x = df['subject'], hue = df['Duration_category'])

#### D. How many courses in each subject according to level?

#### using Seaborn

In [ ]:
plt.figure(figsize = (18,5))
plt.xticks(rotation = 45)
sns.countplot(data = df, x = df['subject'], hue = df['level'])

#### E. In each year what is the total profit made by each subject?

In [ ]:
df.groupby(['Year','subject'],as_index=False)['Profit'].sum()

In [ ]:
plt.figure(figsize=(15,8))
sns.barplot(data=df,x='subject',y='Profit',hue='Year')

In [ ]:
px.pie(data_frame=df, names='subject', values='Profit', color='Year')

##### F. Regarding price category, what is the total profit made by each subject?

In [ ]:
plt.figure(figsize=(15,8))
sns.barplot(data=df,x='subject',y='Profit',hue='Price_Category')

##### G. Regarding duration category, what is the total profit made by each subject?

In [ ]:
plt.figure(figsize=(15,8))
sns.barplot(data=df,x='subject',y='Profit',hue='Duration_category')

##### H. Regarding level, what is the total profit made by each subject?

In [ ]:
plt.figure(figsize=(15,8))
sns.barplot(data=df,x='subject',y='Profit',hue='level')

##### I. Regarding each year, how many subscribers in each subject?

In [ ]:
plt.figure(figsize=(15,8))
sns.barplot(data=df,x='subject',y='num_subscribers',hue='Year')

##### J. Regarding price category, how many subscribers in each subject?

In [ ]:
plt.figure(figsize=(15,8))
sns.barplot(data=df,x='subject',y='num_subscribers',hue='Price_Category')

##### K. Regarding duration category, how many subscribers in each subject?

In [ ]:
plt.figure(figsize=(15,8))
sns.barplot(data=df,x='subject',y='num_subscribers',hue='Duration_category')

##### L. Regarding level, how many subscribers in each subject?

In [ ]:

plt.figure(figsize=(15,8))
sns.barplot(data=df,x='subject',y='num_subscribers',hue='level')

In [ ]:
df['Profit'].describe()

## Time Series Analysis

### published_timestamp

In [ ]:
df.sample(2)

In [ ]:
df.index

In [ ]:
df.loc['2017'].head(2)

In [ ]:
df.index.year

In [ ]:
df.loc['2017-1-24' : '2017-1-25']

### Profit

##### What is the total profit in each year?

In [ ]:
df.resample("Y").sum()['Profit']

In [ ]:
plt.figure(figsize=(15,8))
plt.xticks(rotation=45)
sns.barplot(x=df.resample("Y").sum()['Profit'].index.year,
           y=df.resample("Y").sum()['Profit'].values)

In [ ]:
df.index.month_name()

In [ ]:
df.index.year

In [ ]:
plt.figure(figsize=(15,8))
plt.xticks(rotation=45)
sns.lineplot(x = df.loc['2013'].resample("MS").sum()['Profit'].index.month_name(),
            y = df.loc['2013'].resample("MS").sum()['Profit'].values)

In [ ]:
df.to_csv('Udemy_Courses_Cleaned.csv')